In [674]:
import pandas as pd
import numpy as np
import re

In [602]:
df = pd.read_csv('./dept_courses_csv/EE.csv', encoding='cp1252')
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Biometric Attendance Enabled?,Registration Limit,Restrictions,Division.1,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition,NaN
1,1.0,timetable,EE 114,Power Engineering - I,I - Soman S.A.,,1,S2,NaN,0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Mon-1A-08:30:00-09:25:00,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Thu-1C-10:35:00-11:30:00,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,Tue-1B-09:30:00-10:25:00,NaN,NaN,NaN,NaN,NaN,NaN
7,2.0,timetable,EE 207,Electronic Devices & Circuits,I - M. B. Patil,,4,S1,NaN,0,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,Mon-4A-11:35:00-12:30:00,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,Thu-4C-09:30:00-10:25:00,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,Tue-4B-08:30:00-09:25:00,NaN,NaN,NaN,NaN,NaN,NaN
13,3.0,timetable,EE 207,Electronic Devices & Circuits,I - Dipankar Saha,,4,S2,NaN,0,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [603]:
df.shape

(328, 13)

In [604]:
cols_to_be_dropped = []
for col in df.columns:
    # print('start')
    if (df.isna().sum()[col]==df.shape[0]):
        cols_to_be_dropped.append(col)
        # print(col+' will be dropped')

In [605]:
df = df.drop(columns=cols_to_be_dropped)

In [606]:
df.shape

(328, 10)

In [607]:
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,EE 114,Power Engineering - I,I - Soman S.A.,,1,S2,0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Mon-1A-08:30:00-09:25:00,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Thu-1C-10:35:00-11:30:00,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,Tue-1B-09:30:00-10:25:00,NaN,NaN,NaN
7,2.0,timetable,EE 207,Electronic Devices & Circuits,I - M. B. Patil,,4,S1,0,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,Mon-4A-11:35:00-12:30:00,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,Thu-4C-09:30:00-10:25:00,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,Tue-4B-08:30:00-09:25:00,NaN,NaN,NaN
13,3.0,timetable,EE 207,Electronic Devices & Circuits,I - Dipankar Saha,,4,S2,0,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [608]:
row_toBe_dropped = []
for row in df.index:
    if (df.isna().sum(axis=1)[row]==11):
        row_toBe_dropped.append(row)
        # print('Row number ' + str(row) + ' will be dropped')

In [609]:
df=df.drop(row_toBe_dropped)

In [610]:
df.shape

(328, 10)

In [611]:
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,EE 114,Power Engineering - I,I - Soman S.A.,,1,S2,0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Mon-1A-08:30:00-09:25:00,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Thu-1C-10:35:00-11:30:00,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,Tue-1B-09:30:00-10:25:00,NaN,NaN,NaN
7,2.0,timetable,EE 207,Electronic Devices & Circuits,I - M. B. Patil,,4,S1,0,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,Mon-4A-11:35:00-12:30:00,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,Thu-4C-09:30:00-10:25:00,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,Tue-4B-08:30:00-09:25:00,NaN,NaN,NaN
13,3.0,timetable,EE 207,Electronic Devices & Circuits,I - Dipankar Saha,,4,S2,0,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [612]:
df = df.reset_index().drop(columns='index')

In [613]:
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,EE 114,Power Engineering - I,I - Soman S.A.,,1,S2,0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Mon-1A-08:30:00-09:25:00,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Thu-1C-10:35:00-11:30:00,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,Tue-1B-09:30:00-10:25:00,NaN,NaN,NaN
7,2.0,timetable,EE 207,Electronic Devices & Circuits,I - M. B. Patil,,4,S1,0,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,Mon-4A-11:35:00-12:30:00,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,Thu-4C-09:30:00-10:25:00,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,Tue-4B-08:30:00-09:25:00,NaN,NaN,NaN
13,3.0,timetable,EE 207,Electronic Devices & Circuits,I - Dipankar Saha,,4,S2,0,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [614]:
df['Sr no.'] = df['Sr no.'].ffill()

In [615]:
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,EE 114,Power Engineering - I,I - Soman S.A.,,1,S2,0,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,NaN,NaN,NaN,Mon-1A-08:30:00-09:25:00,NaN,NaN,NaN
5,1.0,NaN,NaN,NaN,NaN,NaN,Thu-1C-10:35:00-11:30:00,NaN,NaN,NaN
6,1.0,NaN,NaN,NaN,NaN,NaN,Tue-1B-09:30:00-10:25:00,NaN,NaN,NaN
7,2.0,timetable,EE 207,Electronic Devices & Circuits,I - M. B. Patil,,4,S1,0,NaN
8,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2.0,NaN,NaN,NaN,NaN,NaN,Mon-4A-11:35:00-12:30:00,NaN,NaN,NaN
11,2.0,NaN,NaN,NaN,NaN,NaN,Thu-4C-09:30:00-10:25:00,NaN,NaN,NaN
12,2.0,NaN,NaN,NaN,NaN,NaN,Tue-4B-08:30:00-09:25:00,NaN,NaN,NaN
13,3.0,timetable,EE 207,Electronic Devices & Circuits,I - Dipankar Saha,,4,S2,0,NaN
14,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [616]:
df[df.columns[0]].unique()

array([nan,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63.])

In [617]:
def listify(col):
    final = []
    for s in col:
        if s is np.NaN:
            continue
        else:
            final.append(s)
    string = str(final)
    for ch in ["[", "]", ",", "'", "nan"]:
        string = string.replace(ch, "")
    string = string.replace(u'\\xa0', u' ')
    return string

In [618]:
trial_col = ['32', 'sol', '####', np.NaN]

In [619]:
listify(trial_col)

'32 sol ####'

In [620]:
df_final = pd.DataFrame(df.groupby(df.columns[0]).agg(listify))

In [621]:
df_final.head(5)

,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Division.1
Sr no.,,,,,,,,,
1.0,timetable,EE 114,Power Engineering - I,I - Soman S.A.,,1 Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:...,S2,0,
2.0,timetable,EE 207,Electronic Devices & Circuits,I - M. B. Patil,,4 Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:...,S1,0,
3.0,timetable,EE 207,Electronic Devices & Circuits,I - Dipankar Saha,,4 Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:...,S2,0,
4.0,timetable,EE 214,Digital Circuits Lab,I - M.Shojaei Baghini,,Thu-L3-14:00:00-16:55:00,,0,
5.0,timetable,EE 221,Digital Electronics,I - Agarwal Vivek,,5 Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:...,M,60,

In [622]:
# def time_picker(col):
#     final_col = []
#     for s in col:
#         final_col.append(s[2:])
#     return final_col

In [623]:
# trial_col = ['2322323', 'chitag', 'ddjdj']
# time_picker(df_final['Slot'])

In [624]:
# for s in df['Slot']:
#     print(s)

In [625]:
df_final['Time'] = [s[2:] for s in df_final['Slot']]

In [626]:
df_final.head(5)

,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Division.1,Time
Sr no.,,,,,,,,,,
1.0,timetable,EE 114,Power Engineering - I,I - Soman S.A.,,1 Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:...,S2,0,,Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:30...
2.0,timetable,EE 207,Electronic Devices & Circuits,I - M. B. Patil,,4 Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:...,S1,0,,Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:25...
3.0,timetable,EE 207,Electronic Devices & Circuits,I - Dipankar Saha,,4 Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:...,S2,0,,Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:25...
4.0,timetable,EE 214,Digital Circuits Lab,I - M.Shojaei Baghini,,Thu-L3-14:00:00-16:55:00,,0,,u-L3-14:00:00-16:55:00
5.0,timetable,EE 221,Digital Electronics,I - Agarwal Vivek,,5 Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:...,M,60,,Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:55:00

In [627]:
# df_final['Slot'] = [s[0:1] for s in df_final['Slot']]

In [628]:
# x='23'
# if x is '':
#     x=0
# else:
#     try:
#         x=int(x)
#     except:
#         x=x
# print(x)

In [629]:
# def tryconvert(value):
#     if value is '':
#         final = 0
#     else:
#         try:
#             final = int(value)
#         except:
#             final = value
#     return final

# tryconvert('LM')

In [630]:
# df_final.columns

In [631]:
# df_final['Slot'] = [tryconvert(s[0:2]) for s in df_final['Slot']]

In [634]:
df_final.head(40)

,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Division.1,Time
Sr no.,,,,,,,,,,
1.0,timetable,EE 114,Power Engineering - I,I - Soman S.A.,,1 Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:...,S2,0,,Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:30...
2.0,timetable,EE 207,Electronic Devices & Circuits,I - M. B. Patil,,4 Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:...,S1,0,,Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:25...
3.0,timetable,EE 207,Electronic Devices & Circuits,I - Dipankar Saha,,4 Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:...,S2,0,,Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:25...
4.0,timetable,EE 214,Digital Circuits Lab,I - M.Shojaei Baghini,,Thu-L3-14:00:00-16:55:00,,0,,u-L3-14:00:00-16:55:00
5.0,timetable,EE 221,Digital Electronics,I - Agarwal Vivek,,5 Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:...,M,60,,Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:55:00
6.0,timetable,EE 238,Power Engineering - II,I - Chatterjee Kishore,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,S1,0,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...
7.0,timetable,EE 238,Power Engineering - II,I - Anshuman Shukla,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,S2,0,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...
8.0,timetable,EE 240,Power Engineering Lab,A - Chatterjee Kishore I - Prashant Navalkar,,L2 Tue-L2-14:00:00-16:55:00,,0,,Tue-L2-14:00:00-16:55:00
9.0,timetable,EE 302,Control Systems,I - M Belur,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S1,0,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...
10.0,timetable,EE 302,Control Systems,I - Debraj Chakraborty,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S2,0,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...
11.0,timetable,EE 302,Control Systems,I - Dwaipayan Mukherjee,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S3,0,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...
12.0,timetable,EE 302,Control Systems,I - Pillai Harish,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S4,0,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...
13.0,timetable,EE 309,Microprocessors,I - Sharma Dinesh,,1 Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:...,,0,,Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:30...
14.0,timetable,EE 324,Control Systems Lab,A - Debasattam Pal I - M Belur,,L1 Mon-L1-14:00:00-16:55:00,,0,,Mon-L1-14:00:00-16:55:00
15.0,timetable,EE 325,Probability and Random Processes,I - Nikhil Karamchandani,,5 Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:...,M,60,,Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:55:00
16.0,timetable,EE 328,Digital Communications,I - Kumar Appaiah,,1 Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:...,S1,0,,Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:30...
17.0,timetable,EE 328,Digital Communications,I - Merchant S N,,1 Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:...,S2,0,,Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:30...
18.0,timetable,EE 334,Power Systems,I - Kulkarni A.M.,,4 Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:...,,0,,Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:25...
19.0,timetable,EE 337,Microprocessors Laboratory,A - Patkar Sachin A - S. Vijayakumaran I - V R...,,Wed-LX-14:00:00-16:55:00,,0,,d-LX-14:00:00-16:55:00
20.0,timetable,EE 340,Communications Lab,I - Jayakrish Nair,,Tue-L2-14:00:00-16:55:00,,0,,e-L2-14:00:00-16:55:00
21.0,timetable,EE 344,Electronic Design Lab,A - Debraj Chakraborty A - J.John I - J.Mukherjee,,LX Wed-LX-14:00:00-16:55:00,,0,,Wed-LX-14:00:00-16:55:00
22.0,timetable,EE 605,Error Correcting Codes,I - Sibi Raj B. Pillai,,14 Fri-14B-17:30:00-18:55:00 Tue-14A-17:30:00-...,,0,,Fri-14B-17:30:00-18:55:00 Tue-14A-17:30:00-18...
23.0,timetable,EE 606,Fibre Optic Communications,I - J.John,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,,0,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...
24.0,timetable,EE 614,Solid State Microwave Devices and their Applic...,I - Kumar Girish,,12 Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-...,,0,,Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-18...
25.0,timetable,EE 616,Electronic Systems Design,I - Pandey P.C.,,12 Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-...,,0,,Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-18...
26.0,timetable,EE 620,Physics of Transistors,I - Souvik Mahapatra,,6 Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:...,,0,,Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:30:00
27.0,timetable,EE 621,Markov Chains and Queuing Systems,I - Jayakrish Nair,,12 Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-...,,0,,Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-18...
28.0,timetable,EE 622,Optimal Control Systems,I - Pillai Harish,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,,0,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...
29.0,timetable,EE 625,Bio Sensors & BioMEMS,I - S. Duttagupta,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,,0,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...
30.0,timetable,EE 636,Matrix Computations,I - Debasattam Pal,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,,0,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...
31.0,timetable,EE 651,Digital Protection of Power Systems,I - Prashant Navalkar,,12 Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-...,,0,,Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-18...
32.0,timetable,EE 654,Power Electronics - II,I - M. Chandorkar,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,,0,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...
33.0,timetable,EE 656,Electrical Machine Analysis and Control,I - Ferdes B.G.,,6 Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:...,,0,,Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:30:00
34.0,timetable,EE 672,Microelectronics Lab,A - Apurba Laha I - Swaroop Ganguly,,Fri-L4-14:00:00-16:55:00,,0,,i-L4-14:00:00-16:55:00
35.0,timetable,EE 678,Wavelets,I - Gadre V.M.,,6 Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:...,,0,,Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:30:00
36.0,timetable,EE 699,Delta Sigma Data Converters and their Applicat...,I - Pramod Murali,,14 Fri-14B-17:30:00-18:55:00 Tue-14A-17:30:00-...,,30,,Fri-14B-17:30:00-18:55:00 Tue-14A-17:30:00-18...
37.0,timetable,EE 701,Introduction to MEMS,I - Siddharth Tallur,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,,0,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...
38.0,timetable,EE 705,V L S I Design Lab,I - Patkar Sachin,,LX Wed-LX-14:00:00-16:55:00,,0,,Wed-LX-14:00:00-16:55:00
39.0,timetable,EE 706,Communication Networks,I - Sharayu Moharir,,9 Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:...,,0,,Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:55:00
40.0,timetable,EE 708,Information Theory & Coding,I - B.K.Dey,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,,0,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...

In [635]:
# ' ' in df_final['Slot'].values[3]

In [653]:
slot_map = {}
for i in range(1, 16):
    slot_map[str(i)] = i
slot_map['L1'] = 'L1'
slot_map['L2'] = 'L2'
slot_map['L3'] = 'L3'
slot_map['L4'] = 'L4'
slot_map['LX'] = 'LX'

slot_map.keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', 'L1', 'L2', 'L3', 'L4', 'LX'])

In [649]:
# slot_map_1 = {}
# slot_map_1['L1'] = 'L1'
# slot_map_1['L2'] = 'L2'
# slot_map_1['L3'] = 'L3'
# slot_map_1['L4'] = 'L4'
# slot_map_1['LX'] = 'LX'
# slot_map_1
# slots = ('L1', 'L2', 'L3', 'L4', 'LX')
# slots

In [650]:
# def tryconvert(value):
#     final = 0
#     if value[0:1] is '':
#         final = 0
#     else:
#         try:
#             final = int(value[0:1])
#         except:
#             gaatIt = 0
#             for slot in slots:
#                 if slot in value:
#                     final = slot
#                     gaatIt = 1
#                 if gaatIt:
#                     break
#     return final

# tryconvert('LX dwidwidiwdeikdbwbbe')

In [666]:
lab_slots = ['L1', 'L2', 'L3', 'L4', 'LX']

def slot_extract(value):
    final_slot = 0
    if value[0:1] is '':
        final_slot = 0
    else:
        # gaatIt = 0
        # for slot in slot_map.keys():
        #     if slot in value:
        #         final_slot = slot_map[slot]
        #         gaatIt = 1
        #     if gaatIt:
        #         break
        try:
            final_slot = int(value[0:2].strip())
        except:
            gaatIt = 0
            for slot in lab_slots:
                if slot in value:
                    final_slot=slot
                    gaatIt = 1
                
                if gaatIt:
                    break
                

    return final_slot

In [667]:
slot_extract('WednewsdayLX dnskj')

'LX'

In [673]:
# x=12
print(df_final['Slot'].values[23])
slot_extract(df_final['Slot'].values[23])

12 Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-18:55:00

12

In [589]:
df_final['Slot_code'] = [slot_extract(s) for s in df_final['Slot']]

In [590]:
df_final

,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Restrictions,Division.1,Time,Slot_code
Sr no.,,,,,,,,,,,,
1.0,timetable,HS 101,Economics,A - Pooja Padhi I - Haripriya Gundimeda,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,S1,0,,View,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...,2
2.0,timetable,HS 101,Economics,A - Surajit Bhattacharya I - Naraya K.,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,S2,0,,View,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...,2
3.0,timetable,HS 101,Economics,A - Tara S. Shaw I - Trivedi Pushpa,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,S3,0,,View,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...,2
4.0,timetable,HS 200,Environmental Studies,A - Aditi Balkrishna Chaubal A - Parthasarathy...,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S1,0,,View,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...,3
5.0,timetable,HS 200,Environmental Studies,A - Aditi Balkrishna Chaubal A - Parthasarathy...,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,S2,0,,View,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...,2
6.0,timetable,HS 221,Intermediate Microeconomics I,A - Surajit Bhattacharya I - Naraya K.,,8 Mon-8A-14:00:00-15:25:00 Thu-8B-14:00:00-15:...,,0,View,,Mon-8A-14:00:00-15:25:00 Thu-8B-14:00:00-15:25:00,8
7.0,timetable,HS 223,Intermediate Macroeconomics-I,I - Trivedi Pushpa,,10 Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-...,,0,View,,Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-15...,1
8.0,timetable,HS 225,Mathematics for Economics,I - Aditi Balkrishna Chaubal,,12 Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-...,,0,View,,Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-18...,1
9.0,timetable,HS 227,Statistics I,I - Rama Pal,,11 Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-...,,0,View,,Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-16...,1
10.0,timetable,HS 301,Philosophy,I - R.K. Panda,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,,250,,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...,3
11.0,timetable,HS 303,Psychology,I - Pooja Purang,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S1,126,,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...,3
12.0,timetable,HS 303,Psychology,I - A. Khan,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S2,125,,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...,3
13.0,timetable,HS 305,Reading Literature,A - Sharmistha Saha A - Suddhaseel Sen I - Sha...,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S1,55,,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...,3
14.0,timetable,HS 305,Reading Literature,A - Sharmila A - Suddhaseel Sen I - Sharmistha...,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S2,55,,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...,3
15.0,timetable,HS 305,Reading Literature,A - Sharmila A - Sharmistha Saha I - Suddhasee...,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S3,55,,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...,3
16.0,timetable,HS 306,Econometrics I,I - Tara S. Shaw,,11 Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-...,,0,View,,Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-16...,1
17.0,timetable,HS 307,Sociology,I - Ahonaa Roy,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S1,204,,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...,3
18.0,timetable,HS 307,Sociology,I - Suryakant Waghmore,,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:...,S2,213,,,Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-09:25...,3
19.0,timetable,HS 308,Econometrics I Lab,I - Tara S. Shaw,,13 Mon-13A-19:00:00-20:25:00 Thu-13B-19:00:00-...,,0,View,,Mon-13A-19:00:00-20:25:00 Thu-13B-19:00:00-20...,1
20.0,timetable,HS 311,International Economics I,A - Saptarshi Prosonno Ghosh I - Aditi Balkris...,,6 Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:...,,0,View,,Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:30:00,6
21.0,timetable,HS 313,Development Economics I,I - Haripriya Gundimeda,,9 Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:...,,0,View,,Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:55:00,9
22.0,timetable,HS 315,Public Fice,I - Rama Pal,,1 Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:...,,0,View,,Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:30...,1
23.0,timetable,HS 402,Game Theory and Economic Analysis,I - Saptarshi Prosonno Ghosh,,10 Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-...,,60,,,Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-15...,1
24.0,timetable,HS 408,Shakespearean Afterlives,I - Shastri Sudha,,5 Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:...,,40,,,Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:55:00,5
25.0,timetable,HS 408,Shakespearean Afterlives,I - Shastri Sudha,,5 Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:...,M,40,,,Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:55:00,5
26.0,timetable,HS 412,Social Movement and Social Change: Contemporar...,I - Sarmistha Pattanaik,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,,50,,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...,2
27.0,timetable,HS 414,Justice Ethics and Community,I - Amrita Banerjee,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,,50,,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...,2
28.0,timetable,HS 418,Human Cognitive Processes,I - Rashmi Gupta,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,,52,,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...,2
29.0,timetable,HS 426,Theory and Policy of Managerial Fice,I - Pooja Padhi,,15 Fri-15B-19:00:00-20:25:00 Tue-15A-19:00:00-...,,50,View,,Fri-15B-19:00:00-20:25:00 Tue-15A-19:00:00-20...,1
30.0,timetable,HS 436,Indian Culture and Tradition,I - Kulkarni A Malhar,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,,62,,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...,2
31.0,timetable,HS 466,Introduction to Linguistics,I - Sarma Vaijayanthi,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,,50,,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...,2
32.0,timetable,HS 467,Indian Philosophy,I - Ratikanta Panda,,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:...,,50,,,Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12:30...,2
33.0,Instructor information not avilable,HS 495,BS Project Stage I,,,,,0,,,,0
34.0,timetable,HS 501,Vedanta Philosophy in the Vedic Tradition,I - C.D. Sebastian,,9 Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:...,,0,View,,Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:55:00,9
35.0,timetable,HS 503,Philosophy in the Age of the Greeks,I - Arun A. Iyer,,11 Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-...,,0,View,,Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-16...,1
36.0,timetable,HS 505,Western Philosophy and the Advent of Modern Sc...,I - Vikram Singh Sirola,,10 Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-...,,0,View,,Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-15...,1
37.0,timetable,HS 557,Wittgenstein I: Wittgenstein’s Tractatus: The ...,I - Pravesh Jung Golay,,6 Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:...,,0,View,,Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:30:00,6
38.0,timetable,HS 601,Development Planning & Policies : Issues & Alt...,A - Anush Kapadia I - Naraya K.,,14 Fri-14B-17:30:00-18:55:00 Tue-14A-17:30:00-...,,0,,,Fri-14B-17:30:00-18:55:00 Tue-14A-17:30:00-18...,1
39.0,timetable,HS 603,Socio-Psychological Perspectives in Developmen...,I - Kushal Deb,,11 Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-...,,0,,,Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-16...,1
40.0,timetable,HS 605,Research Methods in Social Sciences,A - Parthasarathy D. A - Sarmistha Pattanaik I...,,10 Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-...,,0,View,,Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-15...,1
41.0,timetable,HS 615,Computer Aided Applied Statistics,I - Mrinmoyi Kulkarni I - Parthasarathy D.,,9 Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:...,,0,,,Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:55:00,9
42.0,timetable,HS 636,Development of Mathematics in India,I - K. Ramasubramanian,,6 Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:...,,50,,,Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:30:00,6
43.0,timetable,HS 637,Anthropology and Disaster,I - Robinson Rowena,,5,,0,View,,,5
44.0,Instructor information not avilable,HS 691,Field Visit,,,,,0,,,,0
45.0,Instructor information not avilable,HS 694,Seminar,,,,,0,,,,0
46.0,Instructor information not avilable,HS 699,Communication and Presentation Skills,,,,,0,,,,0
47.0,timetable,HS 706,Classical Indian Thought in Modern Times,I - Rajkishore Nath,,6 Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:...,,50,,,Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:30:00,6
48.0,Instructor information not avilable,HS 791,Communication Skills -I,,,,,0,,,,0
49.0,Instructor information not avilable,HS 791,Communication Skills -I,,,,S1,0,,,,0
50.0,timetable,HS 792,Communication Skills -II,A - Paulomi Chakraborty A - Ramesh Bairy A - S...,,4 Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:...,,0,,,Mon-4A-11:35:00-12:30:00 Thu-4C-09:30:00-10:25...,4
51.0,timetable,HS 800,Research Methods in Social Sciences,I - Ramesh Bairy,,10 Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-...,,0,,,Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-15...,1
52.0,timetable,HS 802,Advanced Economic Theory,I - Surajit Bhattacharya,,11 Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-...,,0,,,Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-16...,1
53.0,timetable,HS 807,Phenomenology and Existentialism,I - Siby K.George,,9 Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:...,,0,,,Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:55:00,9
54.0,timetable,HS 811,Literary Theory,I - Paulomi Chakraborty,,11 Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-...,,0,,,Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-16...,1
55.0,timetable,HS 824,Cultural Studies,I - Ratheesh R.,,8 Mon-8A-14:00:00-15:25:00 Thu-8B-14:00:00-15:...,,0,,,Mon-8A-14:00:00-15:25:00 Thu-8B-14:00:00-15:25:00,8
56.0,timetable,HS 842,Philosophy of Language in Sanskrit Literature,I - Kulkarni A Malhar,,9 Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:...,,0,,,Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16:55:00,9
57.0,timetable,HS 847,Algorithms in Indian Astronomy,I - K. Ramasubramanian,,11 Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-...,,0,,,Fri-11B-15:30:00-16:55:00 Tue-11A-15:30:00-16...,1
58.0,timetable,HS 849,Theories of Human Development,I - Mrinmoyi Kulkarni,,12 Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-...,,0,,,Mon-12A-17:30:00-18:55:00 Thu-12B-17:30:00-18...,1
59.0,timetable,HSS801,Seminar,I - Ramesh Bairy,,,,0,,,,0

In [591]:
df_final['Slot_code'].values

array([2, 2, 2, 3, 2, 8, 1, 1, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 1, 6, 9, 1,
       1, 5, 5, 2, 2, 2, 1, 2, 2, 2, 0, 9, 1, 1, 6, 1, 1, 1, 9, 6, 5, 0,
       0, 0, 6, 0, 0, 4, 1, 1, 9, 1, 8, 9, 1, 1, 0], dtype=int64)

In [683]:
ini_string = '43 NR 05'
"".join(re.split("[^a-zA-Z]*", ini_string))

'NR'