In [256]:
import pandas as pd
import numpy as np

In [257]:
df = pd.read_csv('HS_courses.csv', encoding='cp1252')

In [258]:
df.shape

(305, 25)

In [259]:
df.columns

Index(['Sr no.', 'Type', 'Course Code', 'Course Name', 'Instructor(s)',
       'Venue', 'Slot', 'Division', 'Biometric Attendance Enabled?',
       'Registration Limit', 'Restrictions', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Division.1', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'],
      dtype='object')

In [260]:
df.isna().sum()[df.columns[7]]

297

In [261]:
to_be_dropped = []
for col in df.columns:
    # print('start')
    if (df.isna().sum()[col]==df.shape[0]):
        to_be_dropped.append(col)
        print(col+' will be dropped')

Biometric Attendance Enabled? will be dropped
Unnamed: 11 will be dropped
Unnamed: 12 will be dropped
Unnamed: 13 will be dropped
Unnamed: 14 will be dropped
Unnamed: 15 will be dropped
Unnamed: 16 will be dropped
Unnamed: 18 will be dropped
Unnamed: 19 will be dropped
Unnamed: 20 will be dropped
Unnamed: 21 will be dropped
Unnamed: 22 will be dropped
Unnamed: 23 will be dropped
Unnamed: 24 will be dropped

In [215]:
df = df.drop(columns=to_be_dropped)

In [216]:
df.shape

(365, 11)

In [217]:
(df.isna().sum(axis=1))[df.index[0]]

10

In [218]:
row_toBe_dropped = []
for row in df.index:
    if (df.isna().sum(axis=1)[row]==11):
        row_toBe_dropped.append(row)
        print('Row number ' + str(row) + ' will be dropped')

Row number 3 will be dropped
Row number 7 will be dropped
Row number 8 will be dropped
Row number 9 will be dropped
Row number 10 will be dropped
Row number 11 will be dropped
Row number 12 will be dropped
Row number 13 will be dropped
Row number 14 will be dropped
Row number 15 will be dropped
Row number 16 will be dropped
Row number 17 will be dropped
Row number 18 will be dropped
Row number 21 will be dropped
Row number 25 will be dropped
Row number 26 will be dropped
Row number 27 will be dropped
Row number 28 will be dropped
Row number 29 will be dropped
Row number 30 will be dropped
Row number 31 will be dropped
Row number 32 will be dropped
Row number 33 will be dropped
Row number 34 will be dropped
Row number 35 will be dropped
Row number 36 will be dropped
Row number 39 will be dropped
Row number 43 will be dropped
Row number 44 will be dropped
Row number 45 will be dropped
Row number 46 will be dropped
Row number 47 will be dropped
Row number 48 will be dropped
Row number 49 will be dropped
Row number 50 will be dropped
Row number 51 will be dropped
Row number 52 will be dropped
Row number 53 will be dropped
Row number 54 will be dropped
Row number 61 will be dropped
Row number 62 will be dropped
Row number 63 will be dropped
Row number 64 will be dropped
Row number 65 will be dropped
Row number 66 will be dropped
Row number 67 will be dropped
Row number 68 will be dropped
Row number 75 will be dropped
Row number 76 will be dropped
Row number 77 will be dropped
Row number 78 will be dropped
Row number 79 will be dropped
Row number 80 will be dropped
Row number 81 will be dropped
Row number 82 will be dropped
Row number 85 will be dropped
Row number 88 will be dropped
Row number 90 will be dropped
Row number 91 will be dropped
Row number 94 will be dropped
Row number 96 will be dropped
Row number 97 will be dropped
Row number 100 will be dropped
Row number 102 will be dropped
Row number 103 will be dropped
Row number 106 will be dropped
Row number 108 will be dropped
Row number 109 will be dropped
Row number 114 will be dropped
Row number 115 will be dropped
Row number 120 will be dropped
Row number 121 will be dropped
Row number 144 will be dropped
Row number 145 will be dropped
Row number 148 will be dropped
Row number 150 will be dropped
Row number 151 will be dropped
Row number 156 will be dropped
Row number 157 will be dropped
Row number 162 will be dropped
Row number 163 will be dropped
Row number 166 will be dropped
Row number 169 will be dropped
Row number 172 will be dropped
Row number 174 will be dropped
Row number 175 will be dropped
Row number 178 will be dropped
Row number 180 will be dropped
Row number 181 will be dropped
Row number 186 will be dropped
Row number 187 will be dropped
Row number 191 will be dropped
Row number 192 will be dropped
Row number 196 will be dropped
Row number 197 will be dropped
Row number 201 will be dropped
Row number 202 will be dropped
Row number 207 will be dropped
Row number 208 will be dropped
Row number 213 will be dropped
Row number 214 will be dropped
Row number 219 will be dropped
Row number 220 will be dropped
Row number 223 will be dropped
Row number 225 will be dropped
Row number 226 will be dropped
Row number 231 will be dropped
Row number 232 will be dropped
Row number 237 will be dropped
Row number 238 will be dropped
Row number 243 will be dropped
Row number 245 will be dropped
Row number 246 will be dropped
Row number 249 will be dropped
Row number 251 will be dropped
Row number 252 will be dropped
Row number 255 will be dropped
Row number 257 will be dropped
Row number 258 will be dropped
Row number 261 will be dropped
Row number 263 will be dropped
Row number 264 will be dropped
Row number 267 will be dropped
Row number 270 will be dropped
Row number 274 will be dropped
Row number 275 will be dropped
Row number 283 will be dropped
Row number 284 will be dropped
Row number 285 will be dropped
Row number 286 will be dropped
Row number 289 will be dropped
Row number 293 will be dropped
Row number 294 will be dropped
Row number 298 will be dropped
Row number 299 will be dropped
Row number 300 will be dropped
Row number 301 will be dropped
Row number 303 will be dropped
Row number 305 will be dropped
Row number 307 will be dropped
Row number 309 will be dropped
Row number 310 will be dropped
Row number 314 will be dropped
Row number 316 will be dropped
Row number 324 will be dropped
Row number 325 will be dropped
Row number 329 will be dropped
Row number 330 will be dropped
Row number 334 will be dropped
Row number 335 will be dropped
Row number 339 will be dropped
Row number 340 will be dropped
Row number 344 will be dropped
Row number 345 will be dropped
Row number 349 will be dropped
Row number 350 will be dropped
Row number 354 will be dropped
Row number 355 will be dropped
Row number 359 will be dropped
Row number 360 will be dropped
Row number 364 will be dropped

In [219]:
df=df.drop(row_toBe_dropped)

In [220]:
df.shape

(204, 11)

In [221]:
df.columns

Index(['Sr no.', 'Type', 'Course Code', 'Course Name', 'Instructor(s)',
       'Venue', 'Slot', 'Division', 'Registration Limit', 'Restrictions',
       'Division.1'],
      dtype='object')

In [222]:
df

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Restrictions,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,HS 101,Economics,A - Pooja Padhi,,2,S1,0,NaN,View
2,NaN,NaN,NaN,NaN,I - Haripriya Gundimeda,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
357,NaN,NaN,NaN,NaN,NaN,NaN,Tue-11A-15:30:00-16:55:00,NaN,NaN,NaN,NaN
358,58.0,timetable,HS 849,Theories of Human Development,I - Mrinmoyi Kulkarni,,12,NaN,0,NaN,NaN
361,NaN,NaN,NaN,NaN,NaN,NaN,Mon-12A-17:30:00-18:55:00,NaN,NaN,NaN,NaN
362,NaN,NaN,NaN,NaN,NaN,NaN,Thu-12B-17:30:00-18:55:00,NaN,NaN,NaN,NaN
363,59.0,timetable,HSS801,Seminar,I - Ramesh Bairy,,NaN,NaN,0,NaN,NaN

In [223]:
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Restrictions,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,HS 101,Economics,A - Pooja Padhi,,2,S1,0,NaN,View
2,NaN,NaN,NaN,NaN,I - Haripriya Gundimeda,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
19,2.0,timetable,HS 101,Economics,A - Surajit Bhattacharya,,2,S2,0,NaN,View
20,NaN,NaN,NaN,NaN,I - Narayanan K.,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
37,3.0,timetable,HS 101,Economics,A - Tara S. Shaw,,2,S3,0,NaN,View
38,NaN,NaN,NaN,NaN,I - Trivedi Pushpa,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN

In [224]:
df

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Restrictions,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,HS 101,Economics,A - Pooja Padhi,,2,S1,0,NaN,View
2,NaN,NaN,NaN,NaN,I - Haripriya Gundimeda,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
357,NaN,NaN,NaN,NaN,NaN,NaN,Tue-11A-15:30:00-16:55:00,NaN,NaN,NaN,NaN
358,58.0,timetable,HS 849,Theories of Human Development,I - Mrinmoyi Kulkarni,,12,NaN,0,NaN,NaN
361,NaN,NaN,NaN,NaN,NaN,NaN,Mon-12A-17:30:00-18:55:00,NaN,NaN,NaN,NaN
362,NaN,NaN,NaN,NaN,NaN,NaN,Thu-12B-17:30:00-18:55:00,NaN,NaN,NaN,NaN
363,59.0,timetable,HSS801,Seminar,I - Ramesh Bairy,,NaN,NaN,0,NaN,NaN

In [225]:
df.columns

Index(['Sr no.', 'Type', 'Course Code', 'Course Name', 'Instructor(s)',
       'Venue', 'Slot', 'Division', 'Registration Limit', 'Restrictions',
       'Division.1'],
      dtype='object')

In [226]:
ffill_cols = [
    'Sr no.', 'Course Code', 'Course Name',
       'Venue', 'Slot', 'Division', 'Registration Limit', 'Restrictions',
       'Division.1'
]

In [227]:
df['Sr no.'] = df['Sr no.'].ffill()

In [228]:
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Restrictions,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,HS 101,Economics,A - Pooja Padhi,,2,S1,0,NaN,View
2,1.0,NaN,NaN,NaN,I - Haripriya Gundimeda,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
5,1.0,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
6,1.0,NaN,NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
19,2.0,timetable,HS 101,Economics,A - Surajit Bhattacharya,,2,S2,0,NaN,View
20,2.0,NaN,NaN,NaN,I - Narayanan K.,NaN,NaN,NaN,NaN,NaN,NaN
22,2.0,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
23,2.0,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
24,2.0,NaN,NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
37,3.0,timetable,HS 101,Economics,A - Tara S. Shaw,,2,S3,0,NaN,View
38,3.0,NaN,NaN,NaN,I - Trivedi Pushpa,NaN,NaN,NaN,NaN,NaN,NaN
40,3.0,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
41,3.0,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN

In [229]:
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Restrictions,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,HS 101,Economics,A - Pooja Padhi,,2,S1,0,NaN,View
2,1.0,NaN,NaN,NaN,I - Haripriya Gundimeda,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
5,1.0,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
6,1.0,NaN,NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
19,2.0,timetable,HS 101,Economics,A - Surajit Bhattacharya,,2,S2,0,NaN,View
20,2.0,NaN,NaN,NaN,I - Narayanan K.,NaN,NaN,NaN,NaN,NaN,NaN
22,2.0,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
23,2.0,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
24,2.0,NaN,NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
37,3.0,timetable,HS 101,Economics,A - Tara S. Shaw,,2,S3,0,NaN,View
38,3.0,NaN,NaN,NaN,I - Trivedi Pushpa,NaN,NaN,NaN,NaN,NaN,NaN
40,3.0,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
41,3.0,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN

In [230]:
# df = df.drop(0).reset_index()
# df.head(15)

In [232]:
# df = df.drop(columns='index')

In [233]:
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Restrictions,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,HS 101,Economics,A - Pooja Padhi,,2,S1,0,NaN,View
2,1.0,NaN,NaN,NaN,I - Haripriya Gundimeda,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
5,1.0,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
6,1.0,NaN,NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
19,2.0,timetable,HS 101,Economics,A - Surajit Bhattacharya,,2,S2,0,NaN,View
20,2.0,NaN,NaN,NaN,I - Narayanan K.,NaN,NaN,NaN,NaN,NaN,NaN
22,2.0,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
23,2.0,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
24,2.0,NaN,NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
37,3.0,timetable,HS 101,Economics,A - Tara S. Shaw,,2,S3,0,NaN,View
38,3.0,NaN,NaN,NaN,I - Trivedi Pushpa,NaN,NaN,NaN,NaN,NaN,NaN
40,3.0,NaN,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
41,3.0,NaN,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN

In [234]:
df['Type'] = pd.DataFrame(df.groupby(df.columns[0])[df.columns[1]].apply(list))

In [235]:
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Restrictions,Division.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,"[timetable, nan, nan, nan, nan]",HS 101,Economics,A - Pooja Padhi,,2,S1,0,NaN,View
2,1.0,"[timetable, nan, nan, nan, nan]",NaN,NaN,I - Haripriya Gundimeda,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,"[timetable, nan, nan, nan, nan, nan]",NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
5,1.0,"[timetable, nan, nan, nan, nan, nan]",NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
6,1.0,"[timetable, nan, nan, nan]",NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
19,2.0,"[timetable, nan, nan]",HS 101,Economics,A - Surajit Bhattacharya,,2,S2,0,NaN,View
20,2.0,"[timetable, nan, nan, nan]",NaN,NaN,I - Narayanan K.,NaN,NaN,NaN,NaN,NaN,NaN
22,2.0,"[timetable, nan, nan, nan]",NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
23,2.0,"[timetable, nan, nan]",NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
24,2.0,"[timetable, nan, nan]",NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
37,3.0,"[timetable, nan, nan]",HS 101,Economics,A - Tara S. Shaw,,2,S3,0,NaN,View
38,3.0,"[timetable, nan, nan, nan]",NaN,NaN,I - Trivedi Pushpa,NaN,NaN,NaN,NaN,NaN,NaN
40,3.0,"[timetable, nan, nan, nan, nan]",NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
41,3.0,"[timetable, nan, nan, nan]",NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN

In [236]:
# df.columns = ['IP address']
for ch in ["[", "]", ",", "'", "nan"]:
    df['Type'] = df['Type'].apply(lambda x: str(x).replace(ch, ""))
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Restrictions,Division.1
0,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Definition
1,1.0,timetable,HS 101,Economics,A - Pooja Padhi,,2,S1,0,NaN,View
2,1.0,timetable,NaN,NaN,I - Haripriya Gundimeda,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,timetable,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
5,1.0,timetable,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
6,1.0,timetable,NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
19,2.0,timetable,HS 101,Economics,A - Surajit Bhattacharya,,2,S2,0,NaN,View
20,2.0,timetable,NaN,NaN,I - Narayanan K.,NaN,NaN,NaN,NaN,NaN,NaN
22,2.0,timetable,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
23,2.0,timetable,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN
24,2.0,timetable,NaN,NaN,NaN,NaN,Tue-2B-10:35:00-11:30:00,NaN,NaN,NaN,NaN
37,3.0,timetable,HS 101,Economics,A - Tara S. Shaw,,2,S3,0,NaN,View
38,3.0,timetable,NaN,NaN,I - Trivedi Pushpa,NaN,NaN,NaN,NaN,NaN,NaN
40,3.0,timetable,NaN,NaN,NaN,NaN,Mon-2A-09:30:00-10:25:00,NaN,NaN,NaN,NaN
41,3.0,timetable,NaN,NaN,NaN,NaN,Thu-2C-11:35:00-12:30:00,NaN,NaN,NaN,NaN

In [238]:
# df['Type'][0]

In [248]:
skip_cols = [df.columns[0], df.columns[1]]
for col in df.columns:
    if col in skip_cols:
        continue
    else:
        df[col] = pd.DataFrame(df.groupby(df.columns[0])[col].apply(list))
        for ch in ["[", "]", ",", "'", "nan"]:
            df[col] = df[col].apply(lambda x: str(x).replace(ch, ""))
df.head(15)

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Registration Limit,Restrictions,Division.1
0,NaN,,,,,,,,,,
1,1.0,timetable,HS 101,Economics,A - Pooja Padhi I - Haripriya Gundimeda,\xa0\xa0,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12...,\xa0S1,\xa00,,\xa0View
2,1.0,timetable,HS 101,Economics,A - Surajit Bhattacharya I - Naraya K.,\xa0\xa0,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-12...,\xa0S2,\xa00,,\xa0View
4,1.0,timetable,HS 200,Environmental Studies,A - Aditi Balkrishna Chaubal A - Parthasarathy...,\xa0\xa0,3 Mon-3A-10:35:00-11:30:00 Thu-3C-08:30:00-0...,\xa0S1,\xa00,,\xa0View
5,1.0,timetable,HS 200,Environmental Studies,A - Aditi Balkrishna Chaubal A - Parthasarathy...,\xa0\xa0,2 Mon-2A-09:30:00-10:25:00 Thu-2C-11:35:00-1...,\xa0S2,\xa00,,\xa0View
6,1.0,timetable,HS 221,Intermediate Microeconomics I,A - Surajit Bhattacharya I - Naraya K.,\xa0\xa0,8 Mon-8A-14:00:00-15:25:00 Thu-8B-14:00:00-15...,,\xa00,\xa0View,
19,2.0,timetable,HS 308,Econometrics I Lab,I - Tara S. Shaw,\xa0\xa0,13 Mon-13A-19:00:00-20:25:00 Thu-13B-19:00:00-...,,\xa00,\xa0View,
20,2.0,timetable,HS 311,International Economics I,A - Saptarshi Prosonno Ghosh I - Aditi Balkris...,\xa0\xa0,6 Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12...,,\xa00,\xa0View,
22,2.0,timetable,HS 315,Public Fice,I - Rama Pal,\xa0\xa0,1 Mon-1A-08:30:00-09:25:00 Thu-1C-10:35:00-11:...,,\xa00,\xa0View,
23,2.0,timetable,HS 402,Game Theory and Economic Analysis,I - Saptarshi Prosonno Ghosh,\xa0\xa0,10 Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:00-...,,\xa060,,
24,2.0,timetable,HS 408,Shakespearean Afterlives,I - Shastri Sudha,\xa0\xa0,5 Fri-5B-09:30:00-10:55:00 Wed-5A-09:30:00-10:...,,\xa040,,
37,3.0,timetable,HS 557,Wittgenstein I: Wittgenstein’s Tractatus: The ...,I - Pravesh Jung Golay,\xa0\xa0,6 Fri-6B-11:05:00-12:30:00 Wed-6A-11:05:00-12:...,,\xa00,\xa0View,
38,3.0,timetable,HS 601,Development Planning & Policies : Issues & Alt...,A - Anush Kapadia I - Naraya K.,\xa0\xa0,14 Fri-14B-17:30:00-18:55:00 Tue-14A-17:30:00...,,\xa00,,
40,3.0,timetable,HS 605,Research Methods in Social Sciences,A - Parthasarathy D. A - Sarmistha Pattanaik I...,\xa0\xa0,10 Fri-10B-14:00:00-15:25:00 Tue-10A-14:00:0...,,\xa00,\xa0View,
41,3.0,timetable,HS 615,Computer Aided Applied Statistics,I - Mrinmoyi Kulkarni I - Parthasarathy D.,\xa0\xa0,9 Mon-9A-15:30:00-16:55:00 Thu-9B-15:30:00-16...,,\xa00,,

In [250]:
df['Division'].value_counts()

               185
                 9
                 5
\xa0S1           1
\xa0S1           1
                 1
\xa0S2           1
\xa0S2           1
Name: Division, dtype: int64

,Sr no.,Type,Course Code,Course Name,Instructor(s),Venue,Slot,Division,Biometric Attendance Enabled?,Registration Limit,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Division.1,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Definition,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,timetable,HS 101,Economics,I - Haripriya Gundimeda,,4,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Mon-4A-11:35:00-12:30:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Thu-4C-09:30:00-10:25:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,Tue-4B-08:30:00-09:25:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2.0,timetable,HS 200,Environmental Studies,A - Aditi Balkrishna Chaubal,,3,S1,NaN,0,...,NaN,NaN,NaN,View,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,A - Parthasarathy D.,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,A - Saptarshi Prosonno Ghosh,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,I - Rajkishore Nath,NaN,Mon-3A-10:35:00-11:30:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,Thu-3C-08:30:00-09:25:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,Tue-3B-11:35:00-12:30:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [263]:
import os

path = 'dept_courses_csv'
lst = os.listdir(path)
lst

['AE.csv',
 'BB.csv',
 'CE.csv',
 'CH.csv',
 'CSE.csv',
 'DE.csv',
 'EE.csv',
 'ENT.csv',
 'ET.csv',
 'GNR.csv',
 'HS.csv',
 'IE.csv',
 'MA.csv',
 'MG.csv',
 'SC.csv']